<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style1.css ">
</head>
<body>

    <h1>Create new Blog</h1>
    <div class="card">
    <div class="post">
        <form method="post" action="/blogs">

            <input type="text" name="username" placeholder="Enter username">
            
            <input type="text" name="title" placeholder="Enter title">
            
          <textarea  row="40" cols="30"  name="content" placeholder="Enter content"></textarea>
            
            <input type="url" name="userimg" placeholder="Enter image url">
            
            <input type="url" name="image" placeholder="Enter image url ">

            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
</body>
</html>